<!DOCTYPE html>
<html lang="en" xmlns="">
    <head>
        {% load static %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

        {% comment %}
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
        {% endcomment %}

        <title>
            Core product detail
        </title>
    </head>

    <body>
        <div class="container">
            {% include 'core/core_navbar.html' %}

            <!--Section: Block Content-->
            <section class="mb-5">


                <div class="row">


                    <div class="col-md-6 mb-4 mb-md-0">
                        <div id="mdb-lightbox-ui"></div>

                        <div class="mdb-lightbox">
                            <div class="row product-gallery mx-1">
                                <div class="col-12 mb-0">
                                    <figure class="view overlay rounded z-depth-1 main-img">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" data-size="710x823">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid z-depth-1" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-6">
                        <h5>{{ item.title }}</h5>
                        <p class="mb-2 text-muted text-uppercase small">{{ item.get_category_display }}</p>

                        <p>
                            <span class="mr-1"><strong>${{ item.price }}</strong></span>
                        </p>
                        <p class="pt-1">
                            {{ item.description }}
                        </p>
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                                        <td>Shirt 5407X</td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                                        <td>Black</td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                                        <td>USA, Europe</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="table-responsive mb-2">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="pl-0 pb-0 w-25">Quantity</td>
                                        <td class="pb-0">Select size</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="def-number-input number-input safari_only mb-0">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mt-1">
                                                <div class="form-check form-check-inline pl-0">
                                                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked />
                                                    <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
                                                </div>
                                                <div class="form-check form-check-inline pl-0">
                                                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios" />
                                                    <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
                                                </div>
                                                <div class="form-check form-check-inline pl-0">
                                                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios" />
                                                    <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Block Content-->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
