{% load static %}

<footer id="qodef-page-footer">
    <div id="qodef-page-footer-top-area">
        <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid">
            <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--3 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item">
                        <div id="text-5" class="widget widget_text" data-area="footer_top_area_column_1">
                            <h4 class="qodef-widget-title">Contact</h4>
                            <div class="textwidget">
                                <p>
                                    <a>50𝐷 𝐻𝑜𝑎 𝐶𝑎𝑢, P.7, Q.𝑃ℎ𝑢́ 𝑁ℎ𝑢𝑎̣̂𝑛, 𝐻𝐶𝑀.</a><br />
                                </p>
                                <p><a href="tel:+1123456789">0896615958</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="qodef-grid-item">
                        <div id="nav_menu-3" class="widget widget_nav_menu" data-area="footer_top_area_column_3">
                            <h4 class="qodef-widget-title">About us</h4>
                            <div class="menu-footer-iii-container">
                                <ul id="menu-footer-iii" class="menu">
                                    <li id="menu-item-6594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6594"><a href="{% url 'chie:chie_index' %}">About us</a></li>
                                    <li id="menu-item-6597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6597"><a href="{% url 'chie:chie_index' %}">Our team</a></li>
                                    <li id="menu-item-6596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6596"><a href="{% url 'chie:chie_index' %}">Collections</a></li>
                                    <li id="menu-item-6595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6595"><a href="{% url 'chie:chie_index' %}">Advisory</a></li>
                                    <li id="menu-item-6595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6595"><a href="{% url 'chie:chie_index' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="qodef-grid-item">
                        <div id="nav_menu-4" class="widget widget_nav_menu" data-area="footer_top_area_column_4">
                            <h4 class="qodef-widget-title">customer service</h4>
                            <div class="menu-footer-iv-container">
                                <ul id="menu-footer-iv" class="menu">
                                    <li id="menu-item-6599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6599"><a href="">Terms of Use</a></li>
                                    <li id="menu-item-6600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6600"><a href="">Deliveries &#038; Returns</a></li>
                                    <li id="menu-item-6601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6601"><a href="">Gift Card</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="qodef-page-footer-bottom-area">
        <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
            <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1 qodef-col-num--680--1 qodef-col-num--480--1">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item">
                        <div id="text-9" class="widget widget_text" data-area="footer_bottom_area_column_1">
                            <div class="textwidget">
                                <p>
                                    <em>© 2021 Developed by TuanAnh Dinh</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>