{% load static %}

<header id="qodef-page-mobile-header">
    <div id="qodef-page-mobile-header-inner">
        <a itemprop="url" class="qodef-mobile-header-logo-link" href="{% url 'chie:chie_index' %}" style="height: 58px;" rel="home">
            <img
                width="330"
                height="116"
                src="{% static 'chie/img/chie_logo.jpg' %}"
                class="qodef-header-logo-image qodef--main"
                alt="logo main"
                itemprop="image"
                sizes="(max-width: 330px) 100vw, 330px"
            />
        </a>
        <div class="qodef-widget-holder">
            <div id="konsept_core_woo_side_area_cart-6" class="widget widget_konsept_core_woo_side_area_cart qodef-mobile-header-widget-area-one" data-area="mobile-header">
                <div class="qodef-woo-side-area-cart qodef-m" style="padding: 0px 0px 0px 0px;">
                    <div class="qodef-woo-side-area-cart-inner qodef-m-inner">
                        <a class="qodef-m-opener" href="javascript: void(0)">
                            <span class="qodef-m-opener-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="qodef-dropdown-cart-svg" width="19.816" height="18" viewBox="51.878 -0.952 19.816 18">
                                    <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round">
                                        <path
                                            d="M57.33-.197L54.843 3.12v11.61c0 .916.742 1.658 1.659 1.658h11.609c.917 0 1.659-.742 1.659-1.658V3.12L67.283-.197H57.33zM54.843 3.12h14.928M65.624 6.438a3.317 3.317 0 11-6.634 0"
                                        />
                                    </g>
                                </svg>
                            </span>
                            <span class="qodef-m-opener-count">9</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="qodef-mobile-header-opener" href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="28.229px"
                height="13.188px"
                viewBox="0 0 28.229 13.188"
                enable-background="new 0 0 28.229 13.188"
                xml:space="preserve"
            >
                <line fill="none" stroke="#1D1D1D" stroke-miterlimit="10" x1="0.122" y1="0.552" x2="17.059" y2="0.552" />
                <line fill="none" stroke="#1D1D1D" stroke-miterlimit="10" x1="18.934" y1="0.552" x2="28.087" y2="0.552" />
                <line fill="none" stroke="#1D1D1D" stroke-miterlimit="10" x1="28.087" y1="6.589" x2="11.149" y2="6.589" />
                <line fill="none" stroke="#1D1D1D" stroke-miterlimit="10" x1="28.087" y1="12.625" x2="0.122" y2="12.625" />
                <line fill="none" stroke="#1D1D1D" stroke-miterlimit="10" x1="9.274" y1="6.589" x2="0.122" y2="6.589" />
            </svg>
        </a>
        <nav class="qodef-mobile-header-navigation" role="navigation" aria-label="Mobile Menu">
            <ul id="menu-mobile-menu-1" class="qodef-content-grid">
                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4791 ">
                    <a href="{% url 'chie:chie_index' %}"><span class="qodef-menu-item-text">Home</span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent  menu-item-4801 ">
                    <a href="{% url 'chie:chie_index' %}"><span class="qodef-menu-item-text">Our story</span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4861 ">
                    <a href="{% url 'chie:chie_index' %}"><span class="qodef-menu-item-text">Our team</span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4902 ">
                    <a href="{% url 'chie:chie_index' %}"><span class="qodef-menu-item-text">Collections</span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4828 ">
                    <a href="{% url 'chie:chie_index' %}"><span class="qodef-menu-item-text">Advisory</span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4814 qodef--hide-link ">
                    <a href="{% url 'chie:chie_index' %}" ><span class="qodef-menu-item-text">Contact</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>