{% extends 'polls/base.html' %}

{% block title %}
    customer login use python
{% endblock title %}

{% block content %}
<div class="card">
    <div class="container">
        <h1>login page</h1>
        <div>
            <form class="mx-auto" method="POST" action="">
            
               {{ form.as_p }}
               
                <button type="submit" class="btn btn-primary">Submit</button>
                
                {% csrf_token %}

            </form>
        </div>
    </div>
</div>
{% endblock content %}